<launch>
  <arg name="name" default="atak_listener"/>
  
  <!-- Settings for ATAK communications -->
  <arg name="tak_ip" default="hermes.westpoint.edu" doc="The IP address of the ATAK server"/>
  <arg name="tak_port" default="8089" doc="The Port number on the ATAK server to connect to"/>
  <arg name="cert_path" default="$(env HOME)/atak_ws/src/atak_bridge/src/user2.pem" doc="The path to the certificate file"/>
  <arg name="key_path" default="$(env HOME)/atak_ws/src/atak_bridge/src/user2.key" doc="The path to the key file"/>
  <arg name="password" default="atakatak" doc="The password for the certificate file"/>

  <node 
    name="$(arg name)" 
    pkg="atak_bridge" 
    type="atak_listener.py" 
    output="screen"
    launch-prefix="python3"
  >
    <param name="tak_ip" value="$(arg tak_ip)" />
    <param name="tak_port" value="$(arg tak_port)" />
    <param name="cert_path" value="$(arg cert_path)" />
    <param name="key_path" value="$(arg key_path)" />
    <param name="password" value="$(arg password)" />
  </node>
</launch>
