<launch>
  <arg name="joy_dev" default="/dev/input/js1" />
  <arg name="joystick" default="true" />


      <rosparam command="load" file="$(find atak_bridge)/launch/teleop_xbox.yaml" ns='husky'/>
<group ns="husky">

      <param name="~dev" value="$(arg joy_dev)" />

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
      <remap from="cmd_vel" to="joy_teleop/cmd_vel"/>
    </node>


<!--  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server"/>-->

</group>
  
</launch>
