<!-- Assume this is being launched in the vehicle namespace (e.g. uav1) -->

<launch>
    <arg name="vehicle_namespace"       default="uav1" />
	<arg name="unity_sim" 				default="false" />

    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="$(arg vehicle_namespace)_odom2global"
        args="0 0 0 0 0 0 1
        $(arg vehicle_namespace)/odom
        global" />      

<!--     publish imu frame if running in unity -->
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="$(arg vehicle_namespace)_odom2local_origin"
        args="0 0 0 0 0 0 1
        $(arg vehicle_namespace)/odom
        local_origin" />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="$(arg vehicle_namespace)_baselink2uav1"
        args="0 0 0 0 0 0 1
        $(arg vehicle_namespace)/base_link
        $(arg vehicle_namespace)" />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="$(arg vehicle_namespace)_baselink2fcu"
        args="0 0 0 0 0 0 1
        $(arg vehicle_namespace)/base_link
        fcu" />
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="$(arg vehicle_namespace)_localorigin2map"
        args="0 0 0 0 0 0 1
        local_origin
        $(arg vehicle_namespace)/map" />

</launch>
